@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&display=swap');

* {
  box-sizing: border-box;
    margin: 0;
  padding: 0;
}



body {
  font-family: 'Gothic A1', sans-serif;
  background-color: #212121;
  color: #1db954;
}

header {
  background-color: #121212;
  color: #1db954;
}

nav img {
  float: left;
  width: 10%;
  max-width: 40px;
  min-width: 20px;
}

input[type=search] {
  border-radius: 25px;
  border: none;
  background-color: #b3b3b3;
  height: 20px;
}

nav {
/*  color: #1db954;*/
  background-color: #121212;
  text-align: center;
  position: relative;
  z-index: 99999;
}

nav ul li a{
  text-decoration: none;
  color: #1db954;
}

nav ul li {
  list-style-type: none;
  height: 40px;
  line-height: 40px;
  background-color: #121212;
}

nav > ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

nav ul li ul li {
  display: none;
}

nav > ul > li:hover ul li {
  display: block;
}

nav ul li {
  flex-basis: 20%;
}

nav ul li a:hover {
  color: #535353;
}

.arrow {
  border: solid #1db954;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.current {
  color: #535353;
}

/* Full-width input fields */
form input[type=text], form input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #b3b3b3;
  border-radius: 25px;
}

form input[type=text]:focus, form input[type=password]:focus {
  background-color: #b3b3b3;
  outline: none;
}

hr {
  border: 1px solid #121212;
  margin-bottom: 25px;
}

p a {
  color:dodgerblue;
}

input[type=checkbox] {
   margin-bottom:15px
}

/* Set a style for all buttons */
button {
  background-color: #1db954;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  /*border-radius: 25px;*/
}

button a {
  text-decoration: none;
  color: white;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}

/*footer {
  background-color: #121212;
  clear: both;
  padding: 1.3em 2.93%;
  margin-top: 27px;
  position: relative;
  text-align: center;
}

footer ul li {
  list-style-type: none;
  height: 40px;
  line-height: 40px;
  background-color: #121212;
}

footer ul {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

footer ul li {
  flex-basis: 20%;
}

footer img {
  float: left;
  width: 10%;
  max-width: 40px;
  min-width: 20px;
}

footer li {
  color: #1db954;
}*/

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #121212;
   color: #1db954;
   text-align: center;
   padding: .2em 2.93%;
}

footer img {
  float: left;
  width: 10%;
  width: 40px;
  min-width: 20px;
}
 
footer p {
  margin-top: 10px;
  margin-right: 25px;
}
