@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Gothic A1', sans-serif;
	background-color: #212121;
	width: 100%;
}

header {
	background-color: #121212;
/*	padding: 1em 3%;*/
	color: #1db954;
}

nav img {
	float: left;
	width: 10%;
	max-width: 40px;
	min-width: 20px;
}

/*header a {
	color: #1db954;
	text-decoration: none;
}*/

input[type=search] {
	border-radius: 25px;
	border: none;
	background-color: #b3b3b3;
	height: 20px;
}


nav {
/*	color: #1db954;*/
	background-color: #121212;
	text-align: center;
	position: relative;
	z-index: 99999;
}

nav ul li a{
	text-decoration: none;
	color: #1db954;
}

nav ul li {
	list-style-type: none;
	height: 40px;
	line-height: 40px;
	background-color: #121212;
}

nav > ul {
	display: flex;
	justify-content: space-around;
	text-align: center;
}

nav ul li ul li {
	display: none;
}

nav > ul > li:hover ul li {
	display: block;
}

nav ul li {
	flex-basis: 20%;
}

nav ul li a:hover {
	color: #535353;
}

.current {
	color: #535353;
}

.arrow {
  border: solid #1db954;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
/*  -webkit-transform: rotate(45deg);*/
}

/*main {
	text-align: center;
	margin: auto;
	padding: auto;
	color: #1db954;
}*/

main {
    left: 0;
/*    line-height: 200px;*/
/*    margin-top: -100px;*/
	color: #1db954; 
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #121212;
   color: #1db954;
   text-align: center;
   padding: 0.2em 2.93%;
}

footer img {
	float: left;
	width: 10%;
	width: 40px;
	min-width: 20px;
}
 
footer p {
	margin-top: 10px;
	margin-right: 25px;
}

